
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

// Variables
@import "variables";

// Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";

.navbar-text {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
}


.card-body {
  font-size: 4rem;
}

